name: Update GitHub stats

on:
    schedule:
        - cron: "0 3 * * *"
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: readme-tools/github-readme-stats-action@v1
              with:
                  card: stats
                  options: username=raphplt&show_icons=true&theme=transparent
                  path: profile/stats.svg
                  token: ${{ secrets.GITHUB_TOKEN }}

            - run: |
                  git config user.name github-actions
                  git config user.email github-actions@github.com
                  git add profile/stats.svg
                  git commit -m "Update stats" || exit 0
                  git push
